</div>
<div class="classic-footer">Time Taken: 0.0541s sqlly stuff: 0.86% Server load: 1.61 =D — <%= site.site_name %>, source inspired by <a href="https://github.com/acjordan2/AlpacaBoards">AlpacaBoards</a></div>
</body>
</html>
