</td></tr>
  <tr><td><div class="infobar"><%= site.tagline %> | Source: <a href="https://github.com/acjordan2/AlpacaBoards">AlpacaBoards</a></div></td></tr>
</table>
<script src="/js/lue.js"></script>
</body>
</html>
